@model Pawbook.Models.User

@{
	ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/feed.css" asp-append-version="true" />

<h1>Details</h1>

<div>
	<h4>User</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Password)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Password)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.OwnerName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.OwnerName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Gender)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Gender)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Type)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Type)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ImageName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ImageName)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>

<div class="w-100">
	<div class="container my-3 feeditem">
		<div class="row">
			<div class="col-md">
				<div class="card mb-4">
					<div class="card-body">
						<img class="card-img-top w-25 rounded mx-auto d-block" src="img/profile_img/profile_pic_5.jpg">
						<div class="d-flex justify-content-center">
							<h2>Timmy</h2>
						</div>
						<div class="d-flex justify-content-center">
							<p>
								Best cat boy in the word.
							</p>
						</div>
						<div class="d-flex justify-content-around ">
							<div>
								<h3>
									<i class="fa-solid fa-cat"></i>
								</h3>
							</div>
							<div>
								<h3>
									<i class="fa-solid fa-person "></i> Andrew
								</h3>
							</div>
							<div>
								<h3>
									<i class="fa-solid fa-mars "></i>
								</h3>
							</div>
						</div>
					</div>
					<div class="btn-group">
						<button type="button " class="btn btn-success ">Change profile</button>
						<button type="button" class="btn btn-outline-success ">Follow</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container my-3 feeditem ">
		<div class="row ">
			<div class="col-md ">
				<div class="card mb-4 ">
					<div class="card-body ">
						<div class="media mb-3 d-flex justify-content-between">
							<div>
								<a class="a" href="profile.html">
									<img src="img/profile_img/profile_pic_5.jpg" class="d-inline-block ui-w-40 rounded-circle " alt=" ">
									<div class="media-body ml-3 d-inline-block ">
										<div class="flex-grow-1 ms-3 ">
											Timmy
											<div class="text-muted small ">1 day ago</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<p>
							Playing with Andrew
						</p>
						<div class="card ">
							<img class="card-img-top " src="img/feed_img/feed_pic_6.jpg">
						</div>
					</div>
					<div class="card-footer ">
						<div class="d-flex justify-content-between ">
							<a href="# " type="submit " class=" ">
								<h2><i class="fa-solid fa-paw "></i></h2>
							</a>
							<h3>64 paws</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
